<ion-content padding>
  <ion-slides>
    <ion-slide>

      <h3>Question 1</h3>

      <ion-item>
      <app-flash-card [isFlipped]="flashCardFlipped">
        <div class="flash-card-front"><img src="assets/imgs/helicopter.png" /></div>
        <div class="flash-card-back">Helicopter</div>
      </app-flash-card>
    </ion-item>
      
      <h3>What is this?</h3>

      <ion-list no-lines radio-group>
        <ion-item>
          <ion-label>1. Helicopter</ion-label>
          <ion-radio (click)="selectAnswer()"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>2. Truck</ion-label>
          <ion-radio (click)="selectAnswer()"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>3. Plane</ion-label>
          <ion-radio (click)="selectAnswer()"></ion-radio>
        </ion-item>
      </ion-list>

    </ion-slide>
  </ion-slides>
</ion-content>